/* Main Head */
#slogan{
    
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 50px;
    text-align: center; 
    color: #00838f;
    margin-left: auto;
    margin-right: auto;
    
}

/* Carousel */

   .carousel{
    height: 550px !important;
    margin-top: 2%;
    align-content: center;
}


    #workImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: right;
    }

/* Services */

h2 {
    color: #00838f; 
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 22px;
    text-align: center;
}

#img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    }

#img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#statement {
    color: #00838f; 
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    text-align: center;
}

    #svslst {

    color: #00838f; 
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    text-align: left;
    }

    #list  {
    color: #00838f; 
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    text-align: right;
    }

    #colorBar {

        background-color: #00838f;
        height: 60px;
        width: 100%;
        
    }

 /* Contact */

#contactHd{

    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 50px;
    text-align: center; 
    color: #00838f;
    margin-left: auto;
    margin-right: auto;

}

  #div-form {
   
    background-color:#e0e0e0;
    border-radius: 2px;
    align-content: center;
    height: 590px;
    max-height: 650px;
    margin-right: 5%;
    margin-left: 5%;

  }
    
.dropdown-content {
    
    background-color: #e0e0e0 !important;
    color:#00838f !important;
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;    
}



.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-inputs{
    color: #00838f ;
    text-align: center;
    
}

textarea{
    color: #e0e0e0;
    text-align: center;
}



  footer{
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: red;
    color:  #424242;
    text-align: center;
}

h5{
  color: #00838f;
}




#submit_button{
    
    background-color: #e0e0e0;
    color: #00838f;
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
    
}




